.home-view{
    /* display: flex;
    flex-direction: column;
    flex: 1; */
    
    display: flex;
    min-width: 920px;
    height: 100vh;
    flex: 1 1 auto;
    flex-direction: column;
    min-height: 1px;
    position: relative;
}

.home-page-view-container {
    margin: 15px 0 0 0;
    height: 100%;
    overflow: scroll;
}

.home-page-view {
    height: 100%;
}