.home-section-index-view {
    display: flex;
    flex-direction: column;
    padding: 0 20px 0 15px;
    width: 100%;
    box-sizing: border-box;
}

.section-index-items {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: start;
    box-sizing: border-box;
}

.section-index-number {
    padding-right: 20px;
    box-sizing: border-box;
}

.section-index-items > button {
    width: 100%;
    cursor: pointer;
    box-sizing: border-box;
}

.section-index-items > div{
    width: 100%;
}

.section-index-header,
.section-index-item,
.section-row-container,
.create-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
    width: 100%;
    padding: 0 5px 0 0;
    box-sizing: border-box;
}

.section-index-header {
    height: 28px;
    font-size: 0.8em;
    color: #6F7782;
}

.section-index-header,
.section-row-container,
.create-section {
    border-top: 1.2px solid #e8ecee;
}

.section-index-header {
    padding-left: 20px;
}

.section-row-container > .section-block {
    width: 100%;
}

.section-caret {
    height: 1em;
    width: 1em;
    font-size: 1em;
}

.create-section-row {
    display:flex;
    justify-content: center;
    align-items: center;
    width: 16px; 
    margin-left: 20px;

    /* this is to compensate the drag handler*/
}
.section-row > i {
    margin-right: 10px;
}

.create-section-row > i,
.section-row > i {
    transition: color 0.2s;
    cursor: auto;
}

.section-row > i:hover {
    color: #25e8c8;
}

/* .section-name {
    width: 100%;
} */
.create-section-name {
    font-size: 1.4em;
    font-weight: 500; 
    padding-left: 6px;   
}

.section-name > input {
    border: 1px solid transparent;
    border-radius: 4px;
    background: transparent;
    min-width: 160px;
    padding: 5px;
    /* width: 300px; */
    font-size: 1em;
    font-weight: 500;
    box-sizing: border-box;
}

.section-name > input:active,
.section-name > input:focus {
    border-color: black;
}

.section-row-container {
    height: fit-content;
}

.section-row-container:hover {
    background-color: #f6f8f9;
    /* background-color: #edf8ff; */
}
/*  */
.section-task-list {
    /* display:flex; */
    flex-grow: 1;
}

.placeholder {
    height: 1px;
}

.drag-handle {
    width: 20px;
    height: 20px;
    color: transparent;
    /* display: none; */
    /* border-radius: 4px; */
    /* border: 1px solid black; */
}

.section-index-item:hover .drag-handle,
.section-index-item:hover .section-operation > button > i {
    /* display:block; */
    color: black;
}

.section-index-item:hover .section-name > input {
    border-color: black;
}

.section-operation > button {
    background: transparent;
}

.section-operation > button > i {
    color: transparent;
    margin: 0 5px;
    box-sizing: border-box;
    background: transparent;
}

/* .section-row-container > div,
.section-row-container > div > div,
.section-row-container > div > div >div{
    width: 100%;
}

.section-index-item {
    width: 100%;
} */