.modal-background {
    overflow: scroll;
}

.modal-child .login-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 900px;
    width: 75vw;
    border-radius: 3px;
    background-color: #f6f8f9;
    margin: 0 auto;
    padding: 45px 112px;
    box-sizing: border-box;
    /* box-shadow: 0 20px 30px; */
}

.modal-child .login-form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    max-width: 500px;
    width: 100%;
}

.go-back-arrow-button,
.close-button {
    font-size: 2em;
    background-color: transparent;
    color: #b7bfc6;
    transition: .15s;
    cursor: pointer;
}

.login-form-container > .close-button {
    display: float;
    margin-left: 100%;
    right: 0;
}

.go-back-arrow-button:hover,
.close-button:hover {
    background-color: transparent;
    color: #9ca6af;
}

.login-header-text {
    font-weight: 300;
}

.errors {
    list-style: none;
    font-size: 1.5em;
    color: #796eff;
}

.login-form > label {
    font-size: 1em;
}

.modal-child .login-input {
    width: 100%;
    height: 50px;
    border: 2px solid #e0e6e8;
    border-radius: 3px;
    background: #e8f0fe;
    /* transition: border .15s; */
    font-size: 1em;
    padding: 0px 1em;
    /* margin-top: 1em; */
    box-sizing: border-box;
}

.modal-child .login-input:focus {
    border-color: #aba3ff;
    outline: 0;
}

.modal-child .login-submit {
    width: 100%;
    height: 50px;
}

.login-form .login-demo-submit {
    margin: 0 auto;
    width: 50%;
    height: 50px;
}

.login-form > .forgot-password, .redirect-to-signup {
    text-align: center;
}

.login-form > .redirect-to-signup button {
    font-size: 1em;
    background-color: transparent;
    text-decoration: none;
    color: #796eff;
    font-weight: bold;
}

.login-form > .redirect-to-signup button:hover {
    /* border-bottom: 2px solid #796eff; */
    text-decoration: underline #796eff;
}

.login-form > * {
    margin-top: 1em;
}

.forgot-password > a {
    color: #9ca6af;
    font-weight: 500;
    text-decoration: none;
    border: none;
}

.forgot-password > a:hover {
    /* text-decoration: underline; */
    /* font-weight: bold; */
    /* border: 2px; */
    border-bottom: 2px solid #9ca6af;
}