/* div {
    border: 1px red solid;
    box-sizing: border-box;
} */
.splash-container {
    font-family: 'Roboto', sans-serif;
    /* display: flex; */
}

.splash-logo {
    display: block;
    height: 40px;
    /* width: 112px; */
}

.splash-main-nav {
    display: flex;
    background-color: #fff;
    justify-content: space-between;
    align-items: center;
    height: 56px;
    padding: 0 16px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
    transition: box-shadow 225ms;
}

.splash-main-nav-scrolled {
    box-shadow: 0 1px 2px 0 rgba(36,50,66,.15);
}

.splash-hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 50px;
    max-width: 85%;
    margin: 56px auto 56px;
}

.splash-hero-content > h1 {
    font-weight: 200;
}
.splash-hero-content > h3 {
    font-weight: 200;
    color: #646F79;
}
.login-button,
.signup-button,
.login-submit, 
.login-demo-submit {
    display: inline-block;
    background-color: #796eff;
    border-radius: 3px;
    border: none;
    color: #fff;
    font-size: 1em;
    font-weight: 500;
    height: 36px;
    padding: 0 16px;
    box-sizing: border-box;
    text-align: center;
    cursor: pointer;
    transition: background-color .15s, color .15s ease-in-out;
}

.login-button,
.signup-button,
.login-submit:hover, 
.login-demo-submit:hover {
    background-color: #635ac7;
}

.login-button {
    background-color: #fff;
    color: #646F79;
    transition: color .15s ease-in-out;
}

.login-button:hover {
    background-color: #fff;
    color: #635ac7;
}

.splash-section-1 {
    position: relative;
    display: flex;
    flex-direction: column;
}

.splash-hero-content > button {
    font-size: 1.2em;
    font-weight: 500;
    height: 50px;
    padding: 0 24px;
}

.splash-video {
    position: relative;
    margin: 0 auto;
    width: 70%;
    z-index: 2;
}

.splash-video > video {
    width: 100%;
}

.video-background {
    position: absolute;
    top: 100px;
}

.video-background > img {
    width: 100%;
    padding: 0 50px;
    box-sizing: border-box;
}

.video-front-img {
    position: absolute;
    display: flex;
    justify-content: space-between;

    margin-left: auto;
    margin-right: auto;
    top: -7vw;
    left: 0;
    right: 0;

    width: 90%;

    z-index: 2;
}

.video-left-person > img, .video-right-person > img{
    height: 17vw;
}

.splash-video-text {
    position: relative;
    background: linear-gradient(180deg, #edf1f2 0, #f6f8f9);
    margin-top: -80px;
    padding-top: 160px;
    padding-bottom: 160px;
}

.splash-video-textblocks {
    display: flex;
    width: 90%;
    max-width: calc(230px * 3);
    align-content: space-between;
    margin: 0 auto;
    background: linear-gradient(180deg, #edf1f2 0, #f6f8f9);
}

.splash-video-textblock {
    margin: 0 20px;
    cursor: pointer;
}

.splash-video-textblock > .textblock-title {
    font-size: 22px;
}


.splash-footer{
    background-color: #151b26;
}

.splash-footer-lang-links{
    display: flex;
    justify-content: center;
    background-color: #222b37;
    padding: 25px 0;
    
}

.splash-footer i{
    color: white;
    font-size: 40px;
    opacity: .6;
    transition: opacity 225ms;
}

.splash-footer i:hover {
    opacity: 1;
}

